.cartcheckout-custom {
  thead {
    display: block;
    width: 100%;
    tr {
      display: flex;
      width: 100%;
      height: 40px;
      background-color: #f5f7fa;
    }
    th {
      &:nth-child(2) {
        width: 35%;
        max-width: 35%;
      }
      width: 20%;
      max-width: 20%;
      border: none;
      font-size: 12px;
      &:last-child {
        width: 15%;
        max-width: 15%;
      }
    }
  }
  tbody {
    display: block;
    width: 100%;
    tr {
      display: flex;
      width: 100%;
      align-items: center;
    }
    td {
      display: flex;
      width: 20%;
      max-width: 20%;
      border: none;
      white-space: nowrap;
      &:last-child {
        width: 15%;
        max-width: 15%;
        line-height: 2;
      }
      @include media-breakpoint-down(lg) {
        padding: 0.45rem;
      }
      &:nth-child(2) {
        width: 35%;
        max-width: 35%;
        a {
          text-decoration: none;
          color: #000;
          transition: 0.3s;
        }
        a:hover {
          color: $primary;
        }
      }
      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }
    .cart-quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f7fa;
    }
  }
}
