.payment-term {
  label {
    color: #6b6b6b;
  }
}

form {
  .input-custom {
    background-color: #f5f7fa;
    border: none;
    border-radius: 0;
    padding: 20px;
    &:focus {
      background-color: #f5f7fa;
    }
  }
}

.checkout-custom {
  p {
    margin-bottom: 0;
    font-size: 22px;
  }
}

button.disabled,
button:disabled {
  cursor: not-allowed;
}
