.coupon-area {
  .fa-angle-double-right {
    position: relative;
    animation-name: MoveRight;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  .coupon-icon {
    background-image: url('~@/assets/images/custom-img/10-icon.png');
    width: 48px;
    height: 48px;
    transform: rotate(15deg);
  }
}

@keyframes MoveRight {
  0% {
    left: 0px;
    opacity: 1;
  }
  30% {
    left: 5px;
    opacity: 1;
  }
  100% {
    left: 10px;
    opacity: 0;
  }
}
